#img1
{
position:relative;
width:100%;
height:auto;
overflow: hidden;
}
#img1 img
{
    max-width:100%;
    height: auto;
}

#datails
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#img2
{
position:relative;
width:30%;
height:auto;
overflow: hidden;
}
#img2 img
{
    max-width:100%;
    height: auto;
}
#tranform
{
    transform: translateY(20px);
    opacity: 0; 
}
#intro-apper
{   
    
    animation-name: show ;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes show {
    0%
    {
        transform: translateY(50px);
        opacity: .5;
    }
    30%
    {
        transform: translateY(-30px);
        opacity: .6;
    }
    50%
    {
        transform: translateY(0px);
        opacity:.7
    }
    70%
    {
        transform: translateY(-10px);
        opacity:.8;
    }
    100%
    {
        transform: translateY(0px);
        opacity:1
    }
}