#feedback
{

  font-size:1.5em;
  animation-name: change;
  animation-duration:3s;
  animation-iteration-count: infinite;
}
@keyframes change {
  0%,100%
  {
    color:Red;
    opacity:0;
  }
  50%
  {
    color:Red;
    opacity:1;
  }
}
